**/data/
**/latest-run
**/log
**/ckpt
**/wandb
**/data
**/test
**/experiments*
**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
**/.idea
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
*.iml
output
version.py
**/cmake-build-debug
*.png
*.onnx
*.engine
*.pdf
**.qdrep
/configs/iassd/wy/
/configs/iassd/wzh/
/configs/3dssd_sasa/ablation_study/
/configs/
/cache/
